@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import "~react-image-gallery/styles/css/image-gallery.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

.letter-spacing-1 {
  letter-spacing: 1px;
}
.letter-spacing-0 {
  letter-spacing: 0;
}
.font-open {
  font-family: "Open Sans", sans-serif;
}
body {
  letter-spacing: 1px;
  font-family: "Roboto Slab", serif !important;
}
.navbar-nav li a:hover {
  color: white;
}
.menu-item .submenu {
  display: none;
  position: absolute;
}
.menu-item.hovered .submenu {
  display: block;
}
.sub-menu.parent {position: absolute;}
.sub-menu.sub-menu-2 {left: 135px;}
.image-gallery-left-nav .image-gallery-svg, .image-gallery-right-nav .image-gallery-svg {height: 60px !important;}
.active-link {font-weight: bold;}
.image-gallery-image {background-color: #F0F0F0;}
.react-multi-carousel-item {padding-right: 10px}
@media screen and (min-width: 1500px) {
.react-multi-carousel-item {padding-right: 30px}
}
@media screen and (min-width: 992px) {
  .image-gallery-slides {padding: 25px}
}
.image-gallery-thumbnail:hover {border-width: 2px !important; border-color: #000 !important}
.image-gallery-thumbnail .image-gallery-thumbnail-image {background-color: #f0f0f0;}
.image-gallery-thumbnails-wrapper {padding-inline: 25px;}
.image-gallery-thumbnail.active, .image-gallery-thumbnail:focus {border-color: #000 !important; border-width: 2px !important;}