@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.letter-spacing-1 {letter-spacing: 1px;}
body {
  letter-spacing: 1px;
  font-family: 'Roboto Slab', serif !important;
}
/* .dropdown-menu {display: none;} */
.navbar-nav li a:hover {color: white}
.product-thumbnail-bg {background: rgba(188, 160, 142, 0.7)}

.menu-item .submenu {
  display: none;
  position: absolute;
  /* Set position styles as per your design */
}

.menu-item.hovered .submenu {
  display: block;
}