@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import "~react-image-gallery/styles/css/image-gallery.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

.letter-spacing-1 { letter-spacing: 1px; }
.letter-spacing-0 {
  letter-spacing: 0;
}
.font-open {
  font-family: "Open Sans", sans-serif;
}
body {
  letter-spacing: 1px;
  font-family: "Roboto Slab", serif !important;
}
.navbar-nav li a:hover {
  color: white;
}
.menu-item .submenu {
  display: none;
  position: absolute;
}
.menu-item.hovered .submenu {
  display: block;
}
.sub-menu.parent {
  position: absolute;
}
.sub-menu.sub-menu-2 {
  left: 135px;
}
.active-link {
  font-weight: bold;
}
.image-gallery-image {
  background-color: #f0f0f0;
}
.react-multi-carousel-item {
  padding-right: 10px;
}
@media screen and (min-width: 1500px) {
  .react-multi-carousel-item {
    padding-right: 30px;
  }
}
@media screen and (min-width: 992px) {
  .image-gallery-slides {
    padding: 25px;
  }
  .react-multiple-carousel__arrow--left {
    left: -10px !important;
    top: 52%;
    transform: translateY(-48%);
  }
  .react-multiple-carousel__arrow--right {
    right: 0 !important;
    top: 52%;
    transform: translateY(-48%);
  }
}
.image-gallery-left-nav .image-gallery-svg:hover,
.image-gallery-right-nav .image-gallery-svg:hover {
  color: white;
  background: black;
}
.image-gallery-left-nav .image-gallery-svg,
.image-gallery-right-nav .image-gallery-svg {
  transition: all 0.2s;
  color: black;
  background: #f6f6f6;
  border-radius: 50%;
  height: 50px !important;
  width: 50px !important;
}
.image-gallery-thumbnail:hover {
  border-width: 2px !important;
  border-color: #000 !important;
}
.image-gallery-thumbnail .image-gallery-thumbnail-image {
  background-color: #f0f0f0;
}
.image-gallery-thumbnails-wrapper {
  padding-inline: 25px;
}
.image-gallery-thumbnail {
  border-width: 2px !important;
}
.image-gallery-thumbnail.active,
.image-gallery-thumbnail:focus {
  border-color: #000 !important;
  border-width: 2px !important;
}
.transform-scale-80 {
  scale: 0.8;
}
iframe {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}
@media screen and (max-width: 568px) {
  .transform-scale-80 {scale: 1}
  .chevron {display: flex; justify-content: flex-end;}
  .navbar {
    position: absolute;
    background-color: white;
    z-index: 100;
    width: 100%;
    padding-inline: 16px;
    top: 50px;
    left: 0;
  }
  .bg-pos-x-xl {background-position-x: -210px;}
}

/* 0d1b2a 1b263b 415a77 778da9 e0e1dd  */
.header-parent {
  border-bottom: solid 1px #0d1b2a;
  background-color: #778da9;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 2rem;
}

.logo {
  height: 45px;
}

/* NAVIGATION */

/* .header-nav-li {} */

.header-nav-link {
  text-decoration: none;
  height: 100%;
  justify-content: center;
  border-bottom: none;
  border-radius: 6px;
  margin-top: 20px;
}

.header-nav-link span {
  display: block;
  align-self: center;
}

.header-nav-options {
  position: relative;
  display: flex;
  cursor: pointer;
}

.header-nav-div {
  border-radius: 6px;

  height: 100%;
  display: flex;
  border-bottom: none;
}

.header-nav-div span {
  display: block;
  align-self: center;
}

.header-nav-options:last-child .header-nav-ul {
  right: 0;
}

.header-nav-options:last-child .sub-menu-ul {
  left: -100%;
}
.sub-menu-li {
  width: 100%;
  height: 40px;
}

.sub-menu-link {
  display: flex;
  align-items: center;
  border-bottom: none;
  padding-left: 1rem;
  height: 100%;
  width: 100%;
}

.sub-menu-li:last-child {
  border-bottom: solid 1px #cdd1c4;
}
.header-nav-ul {
  top: 100%;
  list-style: none;
  z-index: 10000;
}

.sub-menu-options {
  position: relative;
  display: flex;
  width: 100%;
  min-width: fit-content;
}
ins {color: #f75966}


.grand-child-link a {
  text-decoration: none;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  height: 40px;
  border-bottom: none;
  white-space: nowrap;
}
.main-nav {
  display: flex;
  list-style: none;
  justify-content: space-between;
}
.main-content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto 2rem;
}
.heading {
  color: #181818;
}
.arrow {
  margin-left: auto;
  padding-right: 10px;
}
.topbar-container { @apply relative text-[12px] text-black/80 md:px-8 min-h-[32px] bg-white }
.topbar { @apply items-center flex-col md:flex-row border-b 2xl:max-w-[70%] xl:mx-auto md:py-2 flex justify-between max-w-[1170px] }
.sub-menu-ul { @apply md:absolute top-0 left-full }
.buy-now-button { @apply font-bold w-full py-3 px-2 md:py-[13px] md:px-[28px] flex-1 transition-all duration-200 uppercase border border-[#f6f6f6] hover:border-[#000] bg-transparent md:max-w-[150px] mx-auto text-center text-[12px] md:text-[16px]}
.add-to-cart-button { @apply justify-center mx-auto font-bold w-full text-[12px] md:text-[16px] py-3 px-2 md:py-[13px] md:px-[28px] transition-all duration-200 uppercase hover:border-[#000] border border-[#f6f6f6] text-center bg-transparent flex items-center gap-2 }
.mobile-menu {@apply w-[95%] mx-auto placeholder:text-black/80 h-fit p-2 flex items-center bg-white/90 border border-black justify-between md:w-fit md:hidden}